.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

.previous,
.next {
   background-color: #3498db;
   color: white;
   border: none;
   padding: 8px 16px;
   margin: 0 5px;
   cursor: pointer;
   border-radius: 5px;
}

.previous:hover,
.next:hover {
   background-color: #2980b9;
}

.previous:disabled , .next:disabled {
   background-color: #ccc;
   color: #666;
   cursor: not-allowed;
}

.pagination span {
   padding: 8px 16px;
   color: #333;
   border: 1px solid #ddd;
   margin: 0 5px;
   border-radius: 5px;
}