.watchlistMovieCard{
   display: flex;
   flex-wrap: nowrap;
   min-height:  150px;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   margin: 10px 0px;
   background-color: rgb(101, 134, 166);
   border-radius: 8px;
  border: solid 1px grey;
}
.watchlistMovieCard .poster_image {
 width: 200px;
 height: 100px;
 background-size: cover;
 background-repeat: no-repeat;
 border-radius: 8px;
 border: solid 1px grey;
 background-color: rgb(133, 134, 135);
}
